@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');
body {
  font-family: 'Zain', sans-serif;

  background-color: #f4f4f4;
  margin: 20px;
  padding: 20px;
}

h1 {
  color: #333;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin: 5px 0;
  width: calc(100% - 22px);
  font-family: 'Zain', sans-serif;
  border: 1px solid #ddd;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
